<div id="radio" class="player">
	<div id="mainPlayer"></div>
	<div class="leftblock">
		<a tabindex="1" href="#" class="play smooth"></a>
		<a tabindex="1" href="#" class="pause smooth" style="display: none;"></a>
	</div>
	<div class="centerblock">
		<div class="radio-title">Rádio Apostólica Web</div>
		<div class="time">00:00</div>
	</div>
	<div class="rightblock">
		<div class="volumeBar">
			<div class="currentVolume">
				<div class="curvol"></div>
			</div>
		</div>
	</div>
</div>